<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.jagdevelopment.fgtf"
        version   = "0.9.8">
    <name>Fighting Game Tournament Finder</name>

    <description>
        This app is for users who are trying to find fighting game tournaments or to add some of their own. 
		The app shows a calendar that displays different tournaments added by users.
    </description>

    <author href="http://twitter.com/jagdevelopment" email="entertainmentbyjag@gmail.com">
        Jared Beaudrot
    </author>

	<access origin="*" />
	
	<access subdomains="true" uri="http://www.blackberry.com/">
	<feature id="blackberry.advertising" required="true" version="1.0.0"/>
	</access>
	<access subdomains="false" uri="*"/>
	
    <preference name="phonegap-version" value="2.2.0" />
    <preference name="orientation"      value="portrait" />
    <preference name="target-device"    value="universal" />
    <preference name="fullscreen"       value="false" />

    <icon src="icon.png" />
	<icon src="iconBB.png"     gap:platform="blackberry" />
	<icon src="icon.png"     gap:platform="webos" />
	
	<gap:splash src="splash.png" />
	<gap:splash src="assets/res/drawable/splashScreen.png"  gap:platform="android" /> 
	<gap:splash src="splash/android/ldpi.png" gap:platform="android" gap:density="ldpi" />
	<gap:splash src="splash/android/mdpi.png" gap:platform="android" gap:density="mdpi" />
	<gap:splash src="splash/android/hdpi.png" gap:platform="android" gap:density="hdpi" />
	<gap:splash src="splash/android/xhdpi.png" gap:platform="android" gap:density="xhdpi" />
	<gap:splash src="res/screen/blackberry/screen-225.png"         gap:platform="blackberry" />
</widget>